@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Nunito:wght@300;400;600;700&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
    display: grid;
    grid: 1fr 2fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.container{
    width: 90%;
    max-width:1300px;
    margin: 0 auto;
    overflow: hidden;
}

/* Header */
.header{
    grid-area: header;
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "navegador"
    "contenido";
}

/* Navegador */
.header_nav{
    grid-area: navegador;
    height: 5em;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    height: 100px;
}

.nav_menu{
    display: none;
}
.menu_input{
    display: none;
}

.nav_icon{
    width: 30px;
}

.nav_logo{
    width: 150px;
}

.nav_list{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav_item{
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}

.nav_link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color .3s;
}

.nav_link:hover{
    color: #DE39B2;
}

.nav_link--contacto{
    padding: 10px;
    background-color: #DE39B2;
    border-radius: 20px;
}
.nav_link--contacto:hover{
    background-color:rgba(255, 255, 255, 0.234);
    color: #fff;
}

/* Contenido del Hero*/
.hero_content{
    grid-area: contenido;
    display: flex;
    align-items:center;
}

.img_hero{
    width:100%;
    height: 100%;
    position: absolute;
    left:0px;
    top: 0px;
    z-index: -1;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.background_black{
    width:100%;
    height: 100%;
    position: absolute;
    left:0px;
    top: 0px;
    z-index: -1;
    background: #010f14;
    opacity: 80%;
}

.hero_titulo{
    color: #fff;
    font-size: 4.5rem;
    letter-spacing: 2px;
}

.hero_titulo--textocolor{
    color:#DE39B2;
    font-weight: 200px;
}

.hero_subtitulo{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

/* Sidebar de RRSS */

.rrss_sidearea{

    display: flex;
    flex-direction: column;
    width: 150px;
    position:fixed;
    margin-top: 600px;
    margin-left: 10px;
    transform: translateY(-50%);
}

.rrss_caja{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DE39B2;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}
.rrss_link{
    color: #fff;
    font-size: 15px;
}

.rrss_caja:hover{
    opacity: 0.9;
}
/* Main del Sitio*/
.main{
    grid-area: main;
    width: 100%;
    height: 100%;
}

.contenido_principal{
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "tecnologias"
    "diferencias"
    "clientes";
    gap: 1em;
}

/* Grilla de Tecnologias */

.grid_tecnologias{
    grid-area: tecnologias;
    padding: 60px;
    display: grid;
    grid-template-rows: repeat(2,max-content);
    grid-template-areas: 
    "primera_fila"
    "segunda_fila"
    ;
    gap: 1em;
}

.titulo{
    font-size: 2em;
}

.primera_fila_tecnologias{
    grid-area: primera_fila;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px,1fr));
    gap: 1em;
}

.segunda_fila_tecnologias{
    grid-area: segunda_fila;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px,1fr));
    gap: 1em;
}

.item_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 10px;
}

.tecnologia_img{
    width: 50px;
}

.nombre_tecnologia{
    font-size: 1.3em;
    font-weight: 700;
    color: #DE39B2;
    margin: 15px;
}
.descripcion_tecnologia{
    font-size: 1em;
    color: #3a3a3a;
}

    /* Contenido que nos diferencia*/
.diferencias{
    grid-area: diferencias;
}

.grid_diferencias{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    ".  primera_diferencia. "
    "segunda_diferencia .   tercera_diferencia"
    ;
    align-items: center;
}

.item{
    padding: 3em;
    box-shadow: 0 0 32px -16px rgba(0, 0, 0,.5);
}

.primera_diferencia{
    grid-area: primera_diferencia;
}

.segunda_diferencia{
    grid-area: segunda_diferencia;
}

.tercera_diferencia{
    grid-area: tercera_diferencia;
}
.diferencia_content{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.diferencia_img{
    width: 250px;
}

.titulo_diferencia{
    text-align: center;
}

.descripcion_diferencia{
    text-align: center;
}

/* Contenido de clientes */
.seccion_nuestros_clientes{
    grid-area: clientes;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgba(16,16,16,.8),rgba(16,16,16,.8)),url(../assets/clientes_hero.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.titulo--nuestrosclientes{
    color: #fff;
    font-size: 2em;
}

.grilla_clientes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo_cliente_img{
    width: 150px;
    margin: 50px;
    border-radius: 25px;
    transition: 0.5s;
}

.logo_cliente_img:hover{
    width: 170px;
    transition: 0.5s;
}

.hero_clientes{
    position: absolute;
    z-index: -1;
    width:100%;
    height: 100%;
}

.img_hero_clientes{
    width:100%;
    height: 30px;
    position: absolute;
    left:0px;
    top: 0px;
    z-index: -1;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    overflow: hidden;
}

/* Página Casos de éxito */
.imagen_caso_exito{
    width: 100px;
}

/* Pagina Nosotros */

.contenido_nosotros{
    display: grid;
    grid-template-rows: repeat(3,max-content);
    grid-template-areas: 
    "descripcion_empresa"
    "nuestra_vision"
    "nuestro_equipo";
}

.descripcion_empresa{
    grid-area: descripcion_empresa;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "Texto_empresa descripcion_empresa_hero";
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 30px;
}

.descripcion_empresa_hero{
    width: 500px;
}

.nuestro_equipo{
    grid-area: nuestro_equipo;
}

.equipo_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    padding: 40px 0
}

.persona_content_card{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #efefef;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persona_content_card:hover{
    box-shadow: 0 5px 15px #DE39B2;
    transform: translateY(-15px);

}

.persona_content_card .head{
    height: 125px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.persona_content_card .head .circulo{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #9303F8;
    bottom: 0;
}
.persona_content_card .head .img_persona{
    width: 130px;
    position: absolute;
    background: rgb(212, 212, 212);
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    transform: translate(-50%);
    padding: 3px;
}

.persona_content_card .head img{
    width: 100px;
    height: 100%;
    background: #3a3a3a;
    border-radius: 50%;
    object-fit: cover;
}

.descripcion_persona{
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6,74,76,.18);
    text-align: center;
}

.descripcion_persona h3{
    color: #DE39B2;
}

.descripcion_persona h4{
    color: #484848;
}

.descripcion_persona p {
    padding: 20px;
    font-size: 15px;
}

.persona_content_card .btn_contactar {
    margin: 15px 0;
    width: 75px;
    height: 40px;
    background-color: #DE39B2;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.persona_content_card .btn_contactar:hover {
    background-color: #cb219e;
}

.persona_content_card .btn_contactar a{
    text-decoration: none;
    color: #fff;
}

/* Página Contactanos */

.contenido_contactanos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "hablemos formulario";
    gap: 1em;
}

.contactanos{
    grid-area: hablemos;
}

.contacto_informacion{
    display: grid;
    grid-template-rows: repeat(3, max-content);
}

.contact_row{
    display: flex;
    flex-direction: row;
}

.icon--contact{
    margin-bottom: 10px;
    padding: 0 20px;
    font-size: 35px;
    color: #DE39B2;
}

.informacion{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.formulario_contacto{
    grid-area: formulario;
}

.boton{
    background-color: #DE39B2;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 1.125rem;
    border-radius: 15px;
    border: none;
}

.iframe_maps{
    width: 100%;
    height: 30vh;
}

/*Footer*/

.footer{
    grid-area: footer;
    height: 100%;
    width: 100%;
    display: block;
    display: grid;
    grid-template-rows: repeat(3,max-content);
    grid-template-areas: 
    "footer_insignias"
    "footer_contenido"
    "footer_final"
    ;
}
    /* Footer-Seccion Insignias */
.secciones_footer_insignias{
    grid-area: footer_insignias;
    background-color: #040404d3;
}

.seccion_insignias_items{
    height: auto;
    text-align:center;
    display: flex;
    justify-content: space-evenly;
}

.insignia_img{
    width: 80px;
}

    /* Footer-Seccion Main Footer */
.secciones_footer_principal{
    grid-area: footer_contenido;
    background-color: #9303F8;
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "logos_footer info_contacto menu_footer";
    justify-items: center;
}

.footer_pricipal_imagenes{
    width: 34%;
    grid-area: logos_footer;
}

.imagenes_footer{
    display: block;
    width: 150px;
    margin: 20px 0px;
}

.footer_contact{
    grid-area: info_contacto;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding-top: 50px; */
    text-align: center;
}
.contact_info{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    padding: 10px 0;
}

.icon{
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 25px;
}

.nav_footer{
    grid-area: menu_footer;
    display: flex;
    align-items: center;
}

.footer_list{
    display: flex;
    flex-direction: column;
}

.menu_footer_item{
    list-style: none;
    padding: 5px;
}

.footer_item_link{
    text-decoration: none;
    color: #fff;
}

    /* Footer-Seccion Footer Final */
.final_footer{
    grid-area: footer_final;
    /* height: auto; */
    color: #fff;
    background-color: #000000;
}

.final_footer .link_final{
    color: #fff;
}

.text_copyright {
    font-size: 13px;
    text-align: center;
    padding: 5px;
}


/* Breake Point 1200px (Tablet Grande o Notebook)*/

@media (max-width:1200px) {

    .nav_menu{
        display: block;
        cursor: pointer;
        width: 100%;
    }

    .nav_list{
        width: 100%;
        position: fixed;
        top: 80px;
        left: 0px;
        background-color:rgba(255, 255, 255, 0.461);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-end;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
        transition: clip-path 1s ease-in-out;
    }

    .menu_input:checked + .nav_list{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% 50%);
    }

    /* Ocultamiento del sidebar de rrss*/
    .rrss_sidearea{
        display: none;
        transition: .5s;
    }

    /* Cambio de tamaño del titulo */
    .hero_titulo{
        color: #fff;
        font-size: 3.5rem;
        letter-spacing: 2px;
        transition: .5s;
    }

    /* Cambio de grid de las tecnologias */
    .primera_fila_tecnologias{
        grid-area: primera_fila;
        display: grid;
        grid-template-columns: repeat(2, minmax(200px,1fr));
        gap: 1em;
    }

    .segunda_fila_tecnologias{
        grid-area: segunda_fila;
        display: grid;
        grid-template-columns: repeat(2, minmax(200px,1fr));
        gap: 1em;
    }

    .grid_diferencias{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2,1fr);
        /* grid-template-rows: repeat(3,1fr); */
        grid-template-areas: 
        "primera_diferencia segunda_diferencia"
        "tercera_diferencia tercera_diferencia"
        ;
        align-items: center;
    }
    
}


/* Breake Point 700px (Tablets pequeñas)*/

@media (max-width:700px) {

    /* Cambio de tamaño del titulo */
    .hero_titulo{
        color: #fff;
        font-size: 2.5rem;
        letter-spacing: 2px;
        transition: .5s;
    }
    
    /* Cambio de grid de las tecnologias */

    .grid_diferencias{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(3,1fr); */
        grid-template-areas: 
        "primera_diferencia"
        "segunda_diferencia"
        "tercera_diferencia"
        ;
        align-items: center;
    }

    .grilla_clientes{
        display: grid;
        gap: 1em;
        grid-template-columns: .5fr;
        justify-items: center;
    }
    .nav_footer{
        display: none;
    }

    /* Cambio en página de Contactanos */
    .contenido_contactanos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "hablemos"
        "formulario";
        gap: 1em;
    }   
     
    .secciones_footer_principal{
        grid-area: footer_contenido;
        background-color: #9303F8;
        padding: 30px 0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "logos_footer info_contacto";
        justify-items: center;
    }
    /* Modificacion de página Nosotros */

    .equipo_content{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .persona_content_card{
        margin: 10px;
    }
}

/* * Breake Point 450px (Celulares) */

@media (max-width:450px) {
    .header{
        width:100%;
        height: 60vh;
    }

    .img_hero{
        height: 60%;
    }
    
    .background_black{
        height: 60%;
    }


    .grid_tecnologias{
        grid-template-columns: 1fr;
    }
    
    .titulo{
        font-size: 1.5em;
    }
    
    .primera_fila_tecnologias{
        grid-template-columns: 1fr;
    }
    
    .segunda_fila_tecnologias{
        grid-template-columns: 1fr;
    }

    .secciones_footer_principal{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-template-areas: 
        "logos_footer"
        "info_contacto"
        ;
    }
    .titulo--nuestrosclientes{
        color: #fff;
        font-size: 1.5em;
    }
    .grilla_clientes{
        display: grid;
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,100px);
        justify-items: center;
        align-items: center;
    }

    .footer_contact{
        grid-area: info_contacto;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .contact_info{
        text-decoration: none;
        color: #fff;
        font-family: sans-serif;
        padding: 10px 30px;
    }

}